<style>
    * {
        background-color: #f1ffb3;
    }
    body {
        font-family: 'Cosmic';
        font-style: italic;
        font-size: 18px;
    }
    h1 {
        font-family: 'Cosmic';
        font-size: 60px;
        font-weight: 600;
    }
    [class='unit'] {
        overflow: hidden;
        height: 60px;
        padding: 5px 20px 0 20px;   
        border-radius: 40px;
    }
    a {
        font-size: 22;
    }
    footer {
        font-size: 20px;
        width:100%;
    }
</style>